<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="/styles/restaurants.css" />
  </head>
  <body>
    <%- include('includes/header') %> <%- include('includes/side-drawer') %>
    <main>
      <h1>404 Not Found</h1>
      <h3>Oops.. Seems like your restaurant doesn't have a pages</h3>
      <p>Try to back to list or create a Page for the restaurant you want to..</p>
      <a href="/restaurants"><button>Back to List</button></a>
      <a href="/recommend"><button>Create</button></a>
    </main>
  </body>
</html>