<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="/styles/restaurants.css" />
  </head>
  <body>
    <%- include('includes/header') %> <%- include('includes/side-drawer') %>
    <main>
      <h1>500 Server Error</h1>
      <h3>Oops.. Seems like your request can't be handled by us</h3>
      <p>Try to back to home or contact us!</p>
      <a href="/"><button>Back to Home</button></a>
      <a href="/about"><button>Contact Us</button></a>
    </main>
  </body>
</html>